{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abduazim</title>

    <!--
    - favicon
  -->
    <link rel="shortcut icon" href="{% static 'images/logo.ico' %}" type="image/x-icon">

    <!--
    - custom css link
  -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <!--
    - google font link
  -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">

</head>

<body>

    <!--
    - #MAIN
  -->

    <main>

        <!--
      - #SIDEBAR
    -->
    
        <aside class="sidebar" data-sidebar>

            <div class="sidebar-info">

                <figure class="avatar-box">
                    {% for abouts in about %}
                        <img src="{{ abouts.picture.url }}" alt="Abduazim" width="80">
                    {% endfor %}
                </figure>

                <div class="info-content">
                    {% for abouts in about %}
                    <h1 class="name" title="{{ abouts.name }}">{{ abouts.name }}</h1>
                   

                    <p class="title">{{ abouts.title }}</p>
                    {% endfor %}
                </div>

                <button class="info_more-btn" data-sidebar-btn>
          <span>Show Contacts</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

            </div>

            <div class="sidebar-info_more">

                <div class="separator"></div>

                <ul class="contacts-list">

                    <li class="contact-item">

                        <div class="icon-box">
                            <ion-icon name="mail-outline"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Email</p>
            {% for abouts in about %}

                            <a href="mailto:{{ abouts.email }}" class="contact-link">{{ abouts.email }}</a>
                           
                        </div>

                    </li>

                    <li class="contact-item">

                        <div class="icon-box">
                            <ion-icon name="phone-portrait-outline"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Phone</p>

                            <a href="tel:+{{ abouts.phone }}" class="contact-link">+{{ abouts.phone }}</a>
                        </div>

                    </li>

                    <li class="contact-item">

                        <div class="icon-box">
                            <ion-icon name="calendar-outline"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Birthday</p>

                            <time datetime="2003-01-03">{{ abouts.birthday }}</time>
                        </div>

                    </li>

                    <li class="contact-item">

                        <div class="icon-box">
                            <ion-icon name="location-outline"></ion-icon>
                        </div>

                        <div class="contact-info">
                            <p class="contact-title">Location</p>

                            <address>{{ abouts.location }}</address>
                        </div>

                    </li>

                </ul>
                {% endfor %}
                <div class="separator"></div>

                <ul class="social-list">
                    <li class="social-item">
                        <a href="https://github.com/AbduazimDev/" class="social-link">
                            <ion-icon name="logo-github"></ion-icon>
                        </a>
                    </li>
                    <li class="social-item">
                        <a href="https://twitter.com/Nosir0vich" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>
                    
                    <li class="social-item">
                        <a href="https://www.instagram.com/makhmudo.ff/" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>   
                    <li class="social-item">
                        <a href="https://t.me/Abduazim_Mahmudov" class="social-link">
                            <ion-icon name="paper-plane"></ion-icon>                        
                        </a>
                    </li>

                </ul>

            </div>

        </aside>





        <!--
      - #main-content
    -->

        <div class="main-content">

            <!--
        - #NAVBAR
      -->

            <nav class="navbar">

                <ul class="navbar-list">

                    <li class="navbar-item">
                        <button class="navbar-link  active" data-nav-link>About</button>
                    </li>

                    <li class="navbar-item">
                        <button class="navbar-link" data-nav-link>Resume</button>
                    </li>

                    <li class="navbar-item">
                        <button class="navbar-link" data-nav-link>Portfolio</button>
                    </li>

                    <li class="navbar-item">
                        <button class="navbar-link" data-nav-link>Blog</button>
                    </li>

                    <li class="navbar-item">
                        <button class="navbar-link" data-nav-link>Contact</button>
                    </li>

                </ul>

            </nav>





            <!--
        - #ABOUT
      -->

            <article class="about  active" data-page="about">

                <header>
                    <h2 class="h2 article-title">About me</h2>
                </header>

                <section class="about-text">
                    {% for haqida in about %}
                     <p>{{ haqida.about_me }}</p>
                    {% endfor %}
                </section>


                <!--
          - service
        -->

                <section class="service">

                    <h3 class="h3 service-title">What i'm doing</h3>

                    <ul class="service-list">
                        {% for service in service %}
                            <li class="service-item">

                                <div class="service-icon-box">
                                    <img src="{{ service.picture.url }}
                    " alt="design icon" width="40">
                                </div>

                                <div class="service-content-box">
                                    <h4 class="h4 service-item-title">{{ service.name }}</h4>

                                    <p class="service-item-text">
                                    {{ service.text }} 
                                    </p>
                                </div>

                            </li>
                        {% endfor %}
                        

                    </ul>

                </section>


                <!--
          - testimonials
        -->

                <section class="testimonials">

                    <h3 class="h3 testimonials-title">Testimonials</h3>

                    <ul class="testimonials-list has-scrollbar">
                        {% for comment in comments %}
                            <li class="testimonials-item">
                                <div class="content-card" data-testimonials-item>

                                    <figure class="testimonials-avatar-box">
                                        <img src="{{ comment.picture.url }}" alt={{ comment.name }} width="60" data-testimonials-avatar>
                                    </figure>

                                    <h4 class="h4 testimonials-item-title" data-testimonials-title>{{ comment.name }}</h4>

                                    <div class="testimonials-text" data-testimonials-text>
                                        <p>
                                            {{ comment.comentary }}
                                        </p>
                                    </div>

                                </div>
                            </li>
                        {% endfor %}
                    </ul>

                </section>


                <!--
          - testimonials modal
        -->

                <div class="modal-container" data-modal-container>

                    <div class="overlay" data-overlay></div>

                    <section class="testimonials-modal">

                        <button class="modal-close-btn" data-modal-close-btn>
              <ion-icon name="close-outline"></ion-icon>
            </button>

                        <div class="modal-img-wrapper">
                            <figure class="modal-avatar-box">
                                <img src="{% static 'images/avatar-1.png' %}" alt="Daniel lewis" width="80" data-modal-img>
                            </figure>

                            <img src="{% static 'images/icon-quote.svg' %}" alt="quote icon">
                        </div>


                    </section>

                </div>


                <!--
          - clients
        -->

                <section class="clients">

                    <h3 class="h3 clients-title">Clients</h3>

                    <ul class="clients-list has-scrollbar">
                        {% for client in clientlogo %}
                            <li class="clients-item">
                                <a href="{{ client.url }}">
                                    <img src="{{ client.picture.url }}" alt="client logo">
                                </a>
                            </li>
                        {% endfor %}

                    </ul>

                </section>

            </article>





            <!--
        - #RESUME PAGE
      -->

            <article class="resume" data-page="resume">

                <header>
                    <h2 class="h2 article-title">Resume</h2>
                </header>

                <section class="timeline">

                    <div class="title-wrapper">
                        <div class="icon-box">
                            <ion-icon name="book-outline"></ion-icon>
                        </div>

                        <h3 class="h3">Education</h3>
                    </div>

                    <ol class="timeline-list">
                        {% for educations in education %}
                        <li class="timeline-item">

                            <h4 class="h4 timeline-item-title">{{ educations.name }}</h4>

                            <span>{{ educations.date }}</span>

                            <p class="timeline-text">
                                {{ educations.text }}
                            </p>

                        </li>
                        {% endfor %}

                    </ol>

                </section>

                <section class="timeline">

                    <div class="title-wrapper">
                        <div class="icon-box">
                            <ion-icon name="book-outline"></ion-icon>
                        </div>

                        <h3 class="h3">Experience</h3>
                    </div>

                    <ol class="timeline-list">
                        {% for experinces in experince %}
                        <li class="timeline-item">

                            <h4 class="h4 timeline-item-title">{{ experinces.name }}</h4>

                            <span>{{ experinces.date }}</span>

                            <p class="timeline-text">
                                {{ experinces.text }}
                            </p>
                        {% endfor %}
                        </li>

                    </ol>

                </section>

                <section class="skill">

                    <h3 class="h3 skills-title">My skills</h3>

                    <ul class="skills-list content-card">
                        {% for skill in skills %}
                        <li class="skills-item">

                            <div class="title-wrapper">
                                <h5 class="h5">{{ skill.name }}</h5>
                                <data value="{{ skill.lavel }}">{{ skill.lavel }}%</data>
                            </div>

                            <div class="skill-progress-bg">
                                <div class="skill-progress-fill" style="width: {{ skill.lavel }}%;"></div>
                            </div>

                        </li>
                        {% endfor %}
                        
                    </ul>

                </section>

            </article>





            <!--
        - #PORTFOLIO
      -->

            <article class="portfolio" data-page="portfolio">

                <header>
                    <h2 class="h2 article-title">Portfolio</h2>
                </header>

                <section class="projects">

                    <ul class="filter-list">

                        <li class="filter-item">
                            <button class="active" data-filter-btn>All</button>
                        </li>
                        {% for category in categorys %}
                        <li class="filter-item">
                            <button data-filter-btn>{{ category.name }}</button>
                        </li>
                        {% endfor %}
                    </ul>

                    <div class="filter-select-box">

                        <button class="filter-select" data-select>

              <div class="select-value" data-selecct-value>Select category</div>

              <div class="select-icon">
                <ion-icon name="chevron-down"></ion-icon>
              </div>

            </button>

                        <ul class="select-list">
                            <li class="select-item">
                                <button data-select-item>All</button>
                            </li>
                            {% for category in categorys %}
                            <li class="select-item">
                                <button data-select-item>{{ category.name }}</button>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>

                    <ul class="project-list">
                        {% for project in projects %}
                        <li class="project-item  active" data-filter-item data-category="project.category">
                            <a href="{{ project.link }}"target="_blank">

                                <figure class="project-img">
                                    <div class="project-item-icon-box">
                                        <ion-icon name="eye-outline"></ion-icon>
                                    </div>

                                    <img src="{{ project.picture.url  }}" alt="finance" loading="lazy">
                                </figure>

                                <h3 class="project-title">{{ project.name }}</h3>

                                <p class="project-category">{{ project.category  }}</p>

                            </a>
                        </li>
                        {% endfor %}

                    </ul>

                </section>

            </article>


            <!--
        - #BLOG
      -->

            <article class="blog" data-page="blog">

                {% comment %} <header>
                    <h2 class="h2 article-title">Blog</h2>
                </header> {% endcomment %}

                <section class="blog-posts">

                    {% comment %} <ul class="blog-posts-list">

                        <li class="blog-post-item">
                            <a href="#">

                                <figure class="blog-banner-box">
                                    <img src="{% static 'images/blog-1.jpg' %}" alt="Design conferences in 2022" loading="lazy">
                                </figure>

                                <div class="blog-content">

                                    <div class="blog-meta">
                                        <p class="blog-category">Design</p>

                                        <span class="dot"></span>

                                        <time datetime="2022-02-23">Fab 23, 2022</time>
                                    </div>

                                    <h3 class="h3 blog-item-title">Design conferences in 2022</h3>

                                    <p class="blog-text">
                                        Veritatis et quasi architecto beatae vitae dicta sunt, explicabo.
                                    </p>

                                </div>

                            </a>
                        </li>
                        {% endcomment %}


                </section>

            </article>





            <!--
        - #CONTACT
      -->

            <article class="contact" data-page="contact">

                <header>
                    <h2 class="h2 article-title">Contact</h2>
                </header>

                <section class="mapbox" data-mapbox>
                    <figure>
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11984.95513832104!2d69.23840402095054!3d41.32542070962636!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8b722d3227a5%3A0x92eae4f5ce0cbe00!2sXadra%2C%20Tashkent%2C%20O%60zbekiston!5e0!3m2!1suz!2s!4v1681300632608!5m2!1suz!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </figure>
                </section>

                <section class="contact-form">

                    <h3 class="h3 form-title">Contact Form</h3>

                    <form action="https://formspree.io/f/xknakgdb" method="POST" class="form" data-form>
                        <div class="input-wrapper">
                            <input type="text" name="fullname" id="name" class="form-input" placeholder="Full name" required data-form-input>

                            <input type="email" name="email" class="form-input" placeholder="Email address" required data-form-input>
                        </div>

                        <textarea name="message" class="form-input" placeholder="Your Message" required data-form-input></textarea>

                        <button class="form-btn" type="submit" enabled data-form-btn>
                            
              <ion-icon name="paper-plane"></ion-icon>
              <span>Send Message</span>
            </button>

                    </form>

                </section>

            </article>

        </div>

    </main>






    <!--
    - custom js link
  -->
    <script src="{% static 'js/script.js' %}"></script>
    <!--
    - ionicon link
  -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>
